#islandora-solr-gmap
{
  width: 100%;
  height: 700px;
}

#islandora-solr-gmap-wrap
{
  position: relative;
}

#gmap-overlay-wrap
{
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  left: 25px;
  bottom: 25px;
  
  
/*  width: 200px;
  height: 700px;*/
  background: #3D4E6E; /* Change into a more default colour later */
  background: rgba(61, 78, 110, 1);
  
  box-shadow: 5px 5px 5px #333;
}

#gmap-overlay-close
{
  float: right;
  margin: 5px 5px 0px 0px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

#gmap-overlay-close:hover
{
  text-decoration: underline;
}

#gmap-overlay
{
  float: left;
  width: 100%;
}
